<% layout('layouts/boilerplate') -%>

    <body>

        <div class="row">
            <div class="col-8 offset-3 mt-3">
                <h3>Details of your Listing</h3>
            </div>
            <div class="card col-6 offset-3">
                <img src="<%=listing.img%>" class="card-img-top show-img" alt="listing">
                <div class="card-body">
                    <p class="card-text">
                    <p><i> <b>
                                <%=listing.title%>
                            </b></i></p>
                    <p> <i>
                            <%=listing.description%>
                        </i></p>
                    <p>Price : &#8377 <%=listing.price.toLocaleString("en-IN")%>
                    </p>

                    <p>Location : <i>
                            <%=listing.location%>
                        </i>
                    </p>

                    <p>Country : <i>
                            <%=listing.country%>
                        </i>
                    </p>
                    </p>
                </div>
                <div class="btns">
                    <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-md-2 offset-0 edit-btn">Edit </a>

                    <form method="post" action="/listings/<%=listing._id%>/?_method=DELETE">
                        <button class="btn btn-dark  offset-5">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <br><br>




    </body>